# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.bak
release.properties
release-pom.xml

# IDE
.idea/
.vscode/
*.swp
*.swo
*.iml
.DS_Store

# Gradle
.gradle/
build/

# Other
*.class
*.jar
*.zip
.env